<!DOCTYPE html>
<html>


	<head>
		<title> Welcome to Photovine </title>
	</head>
	
	<body>
		<center>
			<div id="background">
				<img src="/images/1.PNG" width="1280" height="799" 
				     style="top:0px; left:0px; margin-bottom:-6px; position: absolute;">
			</div>
			<div id="button">
				<a href="/simple" target="_self"><img src="/images/button.PNG" width="143" height="47" border="0"
					 style="top:11px; left: 568px; margin-bottom:-6px; position: absolute"></a>
			</div>
		</center>
		
	</body>
</html> 
